<!DOCTYPE html>
<html lang="fr">
    <head>
   

        <title><%=title%></title>
        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <!-- 1. Lien vers la CSS du module LightBox 
        A ajouter dans chacune des pages qui utilisent LightBox
        -->
        <link href="js/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="global">
            <header>
                <h1>Bruxelles</h1>
            </header>