            <nav id="menu">
                <ul>
                    <li><a href="./">Accueil</a></li>
                    <li><a href="geographie">Géographie</a></li>
                    <li><a href="histoire">Histoire</a></li>
                    <li><a href="culture">Culture</a></li>
                    <li><a href="galerie">Galerie</a></li>
                    <li><a href="contact">Contacts</a></li>
                    <li><a href="liens">Liens</a></li>
                </ul>
            </nav>