<% - include('header.ejs') -%>

<main>
  <h1><%= title %></h1>
  <p>Bonjour <%= nom %>,</p>
  <p>Nous avons bien reçu le message :</p>
  <p><strong><%= msg %></strong></p>
</main>

<% - include('footer.ejs') -%>